.App {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.LuffyColors {
  background-color: #a71f00e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: white;
  border: 5px solid darkblue;
}
.ZoroColors {
  background-color: hsla(138, 95%, 8%, 0.898);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: white;
  border: 5px solid rgba(118, 118, 118, 0.66);
}
.SanjiColors {
  background-color: hsla(56, 100%, 24%, 0.898);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:50px;
  color: white;
  border: 5px solid rgb(0, 0, 0);
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
